body {

  font-family: sans-serif;
  background: linear-gradient(#f4f4f2,#e8e8e8,#bbbfca,#495464)

}
main{
  width: 700px;
  margin: 20px auto;
}
h1,h2 {
  color: #0a043c;
  margin-left: 20px;
}
h3{
  color: #03506f;
  margin-left: 20px;
}
img {
  border-radius: 100px;
  width: 200px;
  margin: 10px;
}


table,
td {
  border: 1px solid black;
  color: black;
}
th{
  border: 1px solid black;
  background-color: white;
}
ul,p{
  color: #0f3057;
  font-size: 20px;
  line-height: 1.5;
  margin-left: 20px;
}
em{
  color: #0f3057;
  font-size: 20px;
  line-height: 1.5;
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: #f0a500;

}
.box {
  width: 750px;
  margin: 20px;
}

.profile,
.hobbies{
  margin: 7px;
  padding: 5px;
}

footer{
  width: 300px;
  margin: 5px auto;;
}
